@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), var(--font-noto-sans-jp), Arial,
        "Helvetica Neue", sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
